/*=================================
  Header styling starts here
=================================*/

header{
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    z-index: 1;

    .wrapper{
        width: 97%;
        padding: 13px 0 12px;
        @extend %display-flex;
        @extend %justify-content-space-between; 
    }

    nav{
        width: 80%; 

        .nav-list{
            margin: 6px 1.95% 0 0;
            @extend %display-flex;
            @extend %justify-content-center;

            li{
                margin: 0 0.7% 0 1.97%;
                text-transform: uppercase;
                font-size: 10px;
                letter-spacing: 0.2px;

                a{
                    color: $base-font-color; 
                    @include set-transition( color .15s ease-in-out )
                }

                .active-nav-item{ color: $prime-color; }
            }
        }
    }

    .header-social-icons{
        width: 3.9%;
        padding: 2px 0;
        @extend %display-flex;
        @extend %justify-content-space-between; 
        @include translate(-9%, 0);

        a{
            padding: 0 20%;
            &::after { @include set-transition( color .15s ease-in-out ) }
        }

        .facebook { @include set-icon( \f082 , $prime-color, 11px ) }
        .twitter { @include set-icon( \f099 , $prime-color, 11px ) }
        .instagram { @include set-icon( \f16d , $prime-color, 11px ) }
        .linkedin { @include set-icon( \f0e1 , $prime-color, 11px ) }
    }

}

/*=================================
  Header styling ends here
=================================*/