/*media query starts*/

/*media query for 1280px starts here*/
@media only screen and (max-width: 1280px) {

    .banner .wrapper .slider .slide{
        .slide-content{ top: 17vw; }
        a{ top: 26vw; }
    }
    
    .wrapper{ width: 70%; }
    .checkbox-group input{ width: 15px; }
}

/*media query for 1024px starts here*/
@media only screen and (min-width: 1024px) {
    header{
        .nav-list{
            a:hover{ color: $prime-color; }
        }

        .header-social-icons{
            a:hover::after{ color: $base-font-color; }
        }
    }

    .banner .wrapper{
        .slide{
            a:hover { 
                background-color: $prime-color;
                color: $secondary-font-color;
            }
        }

        .slider-controls{
            top: 14vw;;
            a:hover::after { color: $secondary-font-color; }
        }
    }
  
    .portfolio-item:hover { 
        opacity: 0.5; 
        @include translate(0, 18px);
    }
  
    .client:hover { @include scale(1.2); }

    .affiliated-partner:hover{
        @include translate(-2px, -2px);
        @include box-shadow(7px 7px #bbbbbb);
    }
  
    .get-in-touch form .form-groups a:hover { color: #ff5555; }
  
    .get-in-touch form .form-groups .form-control #submit:hover { 
        color: $base-font-color;
        background-color: $secondary-font-color;
    }
  
    footer a:hover{ color: $prime-color; }
}
  
@media only screen and (max-width: 1024px) {
  
    .header-social-icons a { padding: 0 14px 0 0; }
    .header-social-icons{
      padding: 4px 30px 0;
      @include translate(0,0);
    }

    .services .wrapper,
    .affiliations .wrapper,
    .wrapper{ width: 80%; }
  
}
  
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

    .latest-work .wrapper .portfolio{
        &::before,
        &::after{ content: none; }
        .portfolio-item-img { width: 33.3%; }
    }
}

 /*media query for 720px starts here*/
 @media only screen and (max-width: 720px) {

  
    
    .latest-work .wrapper .portfolio { 
        flex-wrap: wrap;
        .portfolio-item { width: 50%; }
    }


    .portfolio-item { width: 50%; }

    .affiliations .wrapper,
    .wrapper{ width: 70%; }

    form,
    .company-info { @include flex-direction-column; }
    .Co-Address::after { @include translate(0,0); }
    
    .get-in-touch form .form-groups{ 
        width: 100%; 
        &:last-of-type { margin: 0;}
    }
    
    .services .wrapper .services-list .service-item { width: 50%; }
    .affiliations .wrapper .affiliated-partners .affiliated-partner { width: 48%; }
    .work-with .clients .client { width: 34%; }


    .slide-content{ 
        width: 60%;
        left: 40%;
        top: 140px;
        padding: 8px 2%;
        font-size: 12px;
    }
  
    .slide img{ min-height: 250px; }
    .slider-controls{ top: 155px; }
  
    .slide a{ 
        top: 205px; 
        left: 40%;
    }
  
    .work-with { position: static; }
    .wrapper{ 
        .hide-me-mobile{ display: none; }
        nav { 
            width: 0; 
            .nav-list{
                width: 100vw;
                height: 100vh;
                position: fixed;
                z-index: 3;
                top: 0;
                left: 0;
                margin: 0;
                @include flex-direction-column;
                text-align: center;
                background-color: $base-font-color;
                li{ padding: 10px; 
                    a{ color: #efefef; }
                }
            }
        }
        .header-social-icons{
            width: 50px;
            padding: 0;
            position: fixed;
            z-index: 4;
            bottom: 50px;
            left: 49.3%;
        }
    }

    .get-in-touch-company ul { width: 90%; }
  
    nav::after{
        content: "\f0c9";
        position: absolute;
        z-index: 4;
        top: 10px;
        right: 10px;
        color: $prime-color;
        font-family: FontAwesome;
        font-size: 28px;
        cursor: pointer;
    }
  
    .nav-cross::after{ 
        position: fixed;
        content: "\f00d"; 
    }
}

 /*media query for 540px starts here*/
 @media only screen and (max-width: 540px) {
  
    main{
        .services .wrapper,
        .affiliations .wrapper,
        .wrapper{ width: 90%; }
        .work-with .wrapper { width: 70%; }
    }

    .client { width: 35%; }
    .job-categories { width: 30%; }
    .form-sumit-modal{ width: 90%; }
  
    .slide-content{ 
        width: 85%;
        left: 15%;
        top: 90px;
        padding: 8px 3%;
    }
  
    .latest-work-modal figure { margin: 90% 0 0 50%; }
    .slide img{ min-height: 170px; }
    .slider-controls{ top: 110px; }
  
    .slide a{ 
        top: 140px; 
        left: 50%;
        padding: 3.5px 2.6% 7.5px 2.1%;
        @include translate(-50%, 0);
    }
}