/*media query starts*/

/*media query for 1280px starts here*/
@media only screen and (max-width: 1280px) {

    .slider{  margin-top: 47px; }
    .slider-controls{ top: 19vw; }
    .slide-content{ top: 17vw; }
    .slide a{ top: 26vw; }
    .wrapper{ width: 70%; }
    .checkbox-group input{ width: 15px; }
    .job-categories { width: 20%; }
  
}

/*media query for 1024px starts here*/
@media only screen and (min-width: 1024px) {
  
    nav a:hover{ color: $prime-color; } 
    .header-social-icons a:hover::after{ color: $base-font-color; }
    .slider-controls a:hover { color: $secondary-font-color; }
  
    .slide a:hover { 
        background-color: $prime-color;
        color: $secondary-font-color;
    }
  
    .service-icon a:hover { color: #ff5555; }
  
    .portfolio-item:hover { 
        opacity: 0.8; 
        @include translate(0, 18px);
    }
  
    .affiliated-partner:hover{
        @include translate(-2px, -2px);
        @include box-shadow(7px 7px #bbbbbb);
    }
  
    .get-in-touch a:hover { color: #ff5555; }
  
    #submit:hover { 
        color: $base-font-color;
        background-color: $secondary-font-color;
    }
  
    footer a:hover{ color: $prime-color; }
  
    .harvest-history a:hover{
        color: #ffffff;
        background-color: $prime-color;
    }
  
    .portfolio-btn a:hover { color: $prime-color; }
    .portfolio-item-img img{ @include set-transition( all .15s ease-in-out ) }
  
    .portfolio-item-img img:hover { 
        @include scale (0.98);
        @include box-shadow(4px 4px #666666);
    }
  
}
  
@media only screen and (max-width: 1024px) {
  
    .header-social-icons a { padding: 0 14px 0 0; }
    .header-social-icons{
      padding: 4px 30px 0;
      @include translate(0,0);
    }
  
    .opportunities .wrapper,
    .services .wrapper,
    .affiliations .wrapper,
    .wrapper{ width: 80%; }
  
}
  
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

    .portfolio::before,
    .portfolio::after{ content: none; }
    .portfolio-item-img { width: 33.3%; }
    .opportunities .wrapper{ width: 90%; }
    .benefits-perks .perk { width: 50%; }
    .perk:nth-child(3n) figure { width: 17%; }
    .perk:nth-child(3n) span { margin-left: 3.2%; }
    .harvest-values .wrapper { width: 95%; }
  
    .harvest-value {
        width: 17%;
        min-height: 170px;
        margin: 2px 1%;
        padding: 0 0.5%;
    }
}

 /*media query for 720px starts here*/
 @media only screen and (max-width: 720px) {
    
    .our-work-banner,
    .join-us-banner { 
        padding: 110px; 
        background-size: cover;
    }
  
    .portfolio-item-img { width: 50%; }
    .portfolio { @include flex-wrap; }
    .portfolio-item { width: 50%; }
    .services .wrapper,
    .affiliations .wrapper,
    .wrapper{ width: 70%; }
    form,
    .company-info { @include flex-direction-column; }
    .Co-Address::after { @include translate(0,0); }
    .form-groups{ width: 100%; }
    .form-groups:last-of-type { margin: 0;}
    .affiliated-partner { width: 48%; }
    .client { width: 34%; }
    .service-item { width: 50%; }
    .opportunities .wrapper{ width: 98%; }
    .slide-content{ 
        width: 60%;
        left: 40%;
        top: 140px;
        padding: 8px 2%;
        font-size: 12px;
    }
  
    .slide img{ min-height: 250px; }
    .slider-controls{ top: 155px; }
  
    .slide a{ 
        top: 205px; 
        left: 40%;
    }
  
    .work-with { position: static; }
    .hide-me-mobile{ display: none; }
    nav { width: 0; }
  
    .nav-list{
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        margin: 0;
        @include flex-direction-column;
        text-align: center;
        background-color: $base-font-color;
    }
  
    .get-in-touch-company ul { width: 90%; }
    .nav-list li{ padding: 10px; }
    .nav-list a{ color: #efefef; }
  
    .header-social-icons{
        width: auto;
        padding: 0;
        position: fixed;
        z-index: 4;
        bottom: 50px;
        left: 50%;
        @include translate(-50%, 0);
    }
  
    nav::after{
        content: "\f0c9";
        position: absolute;
        z-index: 4;
        top: 10px;
        right: 10px;
        color: $base-font-color;
        font-family: FontAwesome;
        font-size: 28px;
        cursor: pointer;
    }
  
    .nav-cross::after{ 
        position: fixed;
        content: "\f00d"; 
    }
  
    .harvester-content p { 
        width: 100%;
        text-align: center;
    }
  
    .harvester-content figure { 
        width: 80%; 
        @include translate(0,0);
    } 
  
    .values,
    .harvester-content{
        @include flex-wrap;
        @include align-items-center;
    }
  
    .harvest-value{ width: 40%; }
    .jobs { margin: 20px 2%; }
    .job { letter-spacing: 0.2px; }
  
    .job-details{
        float: none;
        width: 100%;
        @include justify-content-flex-start;
        width: 100%;
        padding: 8px 0 0;
    }
  
}

 /*media query for 540px starts here*/
 @media only screen and (max-width: 540px) {
  
    .services .wrapper,
    .affiliations .wrapper,
    .wrapper{ width: 90%; }
    .work-with .wrapper { width: 70%; }
    .client { width: 35%; }
    .job-categories { width: 30%; }
    .form-sumit-modal{ width: 90%; }
  
    .slide-content{ 
        width: 85%;
        left: 15%;
        top: 90px;
        padding: 8px 3%;
    }
  
    .latest-work-modal figure { margin: 90% 0 0 50%; }
    .slide img{ min-height: 170px; }
    .slider-controls{ top: 110px; }
  
    .slide a{ 
        top: 140px; 
        left: 50%;
        padding: 3.5px 2.6% 7.5px 2.1%;
        @include translate(-50%, 0);
    }
  
    .our-work-banner,
    .join-us-banner { padding: 80px; }
  
    .benefits-perks .perk { 
        width: 70%; 
        margin-left: 20%;
    }
}