/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 58.3%;
  margin: 0 auto;
}

header .header-social-icons, header nav .nav-list, header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-social-icons, header .wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header nav .nav-list {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}
header .wrapper {
  width: 97%;
  padding: 13px 0 12px;
}
header nav {
  width: 80%;
}
header nav .nav-list {
  margin: 6px 1.95% 0 0;
}
header nav .nav-list li {
  margin: 0 0.7% 0 1.97%;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.2px;
}
header nav .nav-list li a {
  color: #3c3b3b;
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}
header nav .nav-list li .active-nav-item {
  color: #eb6137;
}
header .header-social-icons {
  width: 3.9%;
  padding: 2px 0;
  -webkit-transform: translate(-9%, 0);
  -ms-transform: translate(-9%, 0);
  transform: translate(-9%, 0);
}
header .header-social-icons a {
  padding: 0 20%;
}
header .header-social-icons a::after {
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}
header .header-social-icons .facebook {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
}
header .header-social-icons .facebook::after {
  position: absolute;
  right: 0;
  color: #eb6137;
  content: "\f082";
  font: 11px "FontAwesome";
  text-indent: 0;
}
header .header-social-icons .twitter {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
}
header .header-social-icons .twitter::after {
  position: absolute;
  right: 0;
  color: #eb6137;
  content: "\f099";
  font: 11px "FontAwesome";
  text-indent: 0;
}
header .header-social-icons .instagram {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
}
header .header-social-icons .instagram::after {
  position: absolute;
  right: 0;
  color: #eb6137;
  content: "\f16d";
  font: 11px "FontAwesome";
  text-indent: 0;
}
header .header-social-icons .linkedin {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
}
header .header-social-icons .linkedin::after {
  position: absolute;
  right: 0;
  color: #eb6137;
  content: "\f0e1";
  font: 11px "FontAwesome";
  text-indent: 0;
}

/*=================================
  Header styling ends here
=================================*/