/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 58.3%;
  margin: 0 auto;
}

.latest-work .wrapper .portfolio, .services .wrapper .services-list, .banner .wrapper .slider, header .header-social-icons, header nav .nav-list, header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-social-icons, header .wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header nav .nav-list {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.banner .wrapper .slider .slide .slide-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.services .wrapper .services-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}
header .wrapper {
  width: 97%;
  padding: 13px 0 12px;
}
header nav {
  width: 80%;
}
header nav .nav-list {
  margin: 6px 1.95% 0 0;
}
header nav .nav-list li {
  margin: 0 0.7% 0 1.97%;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.2px;
}
header nav .nav-list li a {
  color: #3c3b3b;
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}
header nav .nav-list li .active-nav-item {
  color: #eb6137;
}
header .header-social-icons {
  width: 3.9%;
  padding: 2px 0;
  -webkit-transform: translate(-9%, 0);
  -ms-transform: translate(-9%, 0);
  transform: translate(-9%, 0);
}
header .header-social-icons a {
  padding: 0 20%;
}
header .header-social-icons a::after {
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}
header .header-social-icons .facebook {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
}
header .header-social-icons .facebook::after {
  position: absolute;
  right: 0;
  color: #eb6137;
  content: "\f082";
  font: 11px "FontAwesome";
  text-indent: 0;
}
header .header-social-icons .twitter {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
}
header .header-social-icons .twitter::after {
  position: absolute;
  right: 0;
  color: #eb6137;
  content: "\f099";
  font: 11px "FontAwesome";
  text-indent: 0;
}
header .header-social-icons .instagram {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
}
header .header-social-icons .instagram::after {
  position: absolute;
  right: 0;
  color: #eb6137;
  content: "\f16d";
  font: 11px "FontAwesome";
  text-indent: 0;
}
header .header-social-icons .linkedin {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
}
header .header-social-icons .linkedin::after {
  position: absolute;
  right: 0;
  color: #eb6137;
  content: "\f0e1";
  font: 11px "FontAwesome";
  text-indent: 0;
}

/*=================================
  Header styling ends here
=================================*/
/*=================================
  main styling starts here for index
=================================*/
/*=================================
  banner styling starts here
=================================*/
.banner .wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.banner .wrapper .slider .slide {
  min-width: 100%;
  position: relative;
}
.banner .wrapper .slider .slide .slide-content {
  width: 50%;
  padding: 15.5px 1.1%;
  position: absolute;
  top: 282px;
  left: 50%;
  background-color: #eb6137;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.banner .wrapper .slider .slide .slide-content span {
  text-transform: uppercase;
}
.banner .wrapper .slider .slide a {
  padding: 6.5px 1.6% 10.5px 1.1%;
  position: absolute;
  top: 359px;
  left: 50%;
  background-color: #ffffff;
  color: #eb6137;
  font-size: 8px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.3px;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.banner .wrapper .slider .slide a::after {
  content: "\f105";
  position: relative;
  top: 1px;
  right: -10%;
  font: 13px "FontAwesome";
}
.banner .wrapper .slider-transition {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.banner .wrapper .slider-controls {
  width: 100%;
  position: absolute;
  top: 206px;
  left: 0;
}
.banner .wrapper .slider-controls a {
  display: inline-block;
  text-indent: -9999px;
  position: absolute;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #dfe7f0;
}
.banner .wrapper .slider-controls .previous-slider-btn {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
}
.banner .wrapper .slider-controls .previous-slider-btn::after {
  position: absolute;
  right: 0;
  color: #dfe7f0;
  content: "\f053";
  font: 14px "FontAwesome";
  text-indent: 0;
}
.banner .wrapper .slider-controls .previous-slider-btn::after {
  left: 7vw;
}
.banner .wrapper .slider-controls .next-slider-btn {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
}
.banner .wrapper .slider-controls .next-slider-btn::after {
  position: absolute;
  right: 0;
  color: #dfe7f0;
  content: "\f054";
  font: 14px "FontAwesome";
  text-indent: 0;
}
.banner .wrapper .slider-controls .next-slider-btn::after {
  left: 91vw;
}

/*=================================
  banner styling ends here
=================================*/
/*=================================
  help section styling starts here
=================================*/
.help {
  padding: 0 0 58px;
  text-align: center;
}
.help h2 {
  padding: 21px 0 36px;
  color: #3c3b3b;
  font: 600 18px Arial;
  text-transform: uppercase;
}
.help p {
  color: #555555;
  font-size: 12px;
  line-height: 1.82;
}

/*=================================
  help section styling ends here
=================================*/
/*======================================
  services section styling starts here
======================================*/
.services .wrapper {
  width: 60%;
  text-align: center;
  margin-bottom: 15px;
}
.services .wrapper h2 {
  padding: 46px 0 53px;
  color: #3c3b3b;
  font: 600 18px Arial;
  text-transform: uppercase;
}
.services .wrapper .services-list .service-item {
  width: 20%;
  padding: 0 0 13px;
}
.services .wrapper .services-list .service-item:nth-child(5) figure {
  margin: 18px 0 17px;
}
.services .wrapper .services-list .service-item:nth-child(1), .services .wrapper .services-list .service-item:nth-child(7) {
  -webkit-transform: translate(0, -7px);
  -ms-transform: translate(0, -7px);
  transform: translate(0, -7px);
}
.services .wrapper .services-list .service-item span {
  padding: 22px 15%;
  color: #555555;
  display: block;
  font: 600 12px Arial;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.services .wrapper .services-list .service-item img {
  width: 52%;
}
.services .wrapper .services-list .service-item a {
  margin: 35px 0 12px;
  display: inline-block;
  text-indent: -9999px;
  position: relative;
}
.services .wrapper .services-list .service-item a::after {
  position: absolute;
  right: 0;
  color: #eb6137;
  content: "\f061";
  font: 25px "FontAwesome";
  text-indent: 0;
}
.services .wrapper .services-list .service-item a::after {
  margin: 0 2% 0 0;
}

/*====================================
  services section styling ends here
====================================*/
/*=======================================
  latest-work section styling starts here
=======================================*/
.latest-work {
  background: #efefef;
}
.latest-work .wrapper {
  width: 100%;
  text-align: center;
}
.latest-work .wrapper h2 {
  padding: 64px 0 16px;
  color: #3c3b3b;
  font: 600 18px Arial;
  text-transform: uppercase;
}
.latest-work .wrapper a {
  margin: 0 0 25px;
  color: #3c3b3b;
  font: 600 11px "Arial Narrow";
  text-transform: uppercase;
}
.latest-work .wrapper .portfolio {
  position: relative;
}
.latest-work .wrapper .portfolio .portfolio-item {
  width: 25%;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.latest-work .wrapper .portfolio::before, .latest-work .wrapper .portfolio::after {
  content: "";
  width: 100%;
  padding: 9.5px 0;
  position: absolute;
  z-index: 2;
}
.latest-work .wrapper .portfolio::before {
  top: 0px;
  background: #efefef;
}
.latest-work .wrapper .portfolio::after {
  bottom: 0px;
  background: #eb6137;
}

/*======================================
  latest-work section styling ends here
======================================*/